* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#piano-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#white-keys {
    display: flex;
}

#black-keys {
    display: flex;
    justify-content: space-between;
}

.key {
    border: 1px solid pink;
    flex: 1;
    height: 100%;
}