* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#pianos-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#piano-container {
    margin: 20px;
}

#piano-percentage-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid green;
}

#piano-two-container {
    margin: 20px;
}